<launch>
    <rosparam command="load" file="$(find unhuman-ros)/src/freebot/trajectories.yaml" />
    <rosparam command="load" file="$(find unhuman-ros)/src/freebot/joystick.yaml" />
    <node name="joy" pkg="joy" type="joy_node"/>
    <node name="joystick_arm_task" pkg="unhuman-ros" type="joystick_arm_task"/>
    <node name="arm_command" pkg="unhuman-ros" type="arm_command"/>
    <node name="arm_status" pkg="unhuman-ros" type="arm_status"/>
    <node name="arm_goal" pkg="unhuman-ros" type="arm_goal"/>
    <node name="arm_trajectories" pkg="unhuman-ros" type="arm_trajectories"/>
    <node name="joystick_trajectory" pkg="unhuman-ros" type="joystick_arm_trajectory"/>
</launch>