<launch>
    <include file="$(find grip_description)/launch/display.launch" ns="measured">
        <arg name="n" value="measured"/>
        <arg name="joint_publish" value="0"/>
    </include>
    <include file="$(find grip_description)/launch/display.launch" ns="command">
        <arg name="n" value="command"/>
        <arg name="joint_publish" value="0"/>
    </include>
    <include file="$(find obot-ros)/launch/joystick.launch" ns="command"/>
    <!-- <include file="$(find obot-ros)/launch/wrist_marker.launch" ns="command"/> -->
    <node name="joint_command" pkg="obot-ros" type="joint_to_motor_data" ns="command"/>
    <node name="wrist" pkg="aliencontrol" type="aliencontrol" cwd="node">
        <param name="cmd" value="../../unhuman/wrist/build/src/wrist" />
    </node>
    <node name="motor_data" pkg="obot-ros" type="motor_data_echo" ns="measured"/>
</launch>